#Visual Studio
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.sdf
*.opensdf
Debug
.vs
Rainbone.dir
CmakeFiles
CMakeCache.txt
cmake_install.cmake
x64

# Executables
*.exe
*.out
*.app

# Merge files
*.orig

# Binaries
bin

# Build
build

# Batfiles
run.command

# OSX files
.DS_Store
